<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='icon' href='/images/icon.png'>
    <link rel="stylesheet" href="/css/global-style.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <h3 style="text-align: center;">404! The page you are looking for not found!</h3>
  </body>
</html>
