.main-header {
  background: #3f51b5;
  text-align: center;
}

.main-header__nav {
  max-width: 1400px;
}

.main-header__item-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  height: 4rem;
}

.main-header__item {
  padding: 0.75rem 2rem;
}

.main-header__item a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  position: relative;
  outline: none;
}

.main-header__item a::after {
  content: "";
  height: 2px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -4px;
  border-radius: 2px;
  width: 0;
  transition: all 0.25s;
}

.main-header__item a:hover::after {
  width: 100%;
}

.main-header__item-right {
  margin-left: auto;
}